@import "@fontsource/inter";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: linear-gradient(#f9f9f9, #dce3f3);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: #c6c7c9 1px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.sidebar {
  text-align: center;
  background-color: #fbfcff;
}

.sidebar-link {
  margin-top: 1rem;
  background-color: #edf1f8;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.sidebar p {
  color: #4f7a96;
}

.sidebar-link a {
  text-decoration: none;
  color: #0d171c;
  font-weight: bold;
}

.layout-right {
  text-align: center;
  background-color: #ffffff;
}

.main-search-bar {
  position: relative;
  padding: 1rem;
  border-bottom: #d5dadf 1px solid;
  margin: 0px -1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 1.75rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.main-search-bar input {
  padding: 0.5rem 0.75rem;
  padding-left: 2rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  background-color: #f1f4f8;
}

.main-search-bar input::placeholder {
  color: #4f7a96;
  opacity: 1;
}

/* BirdsList component styles */

  .birds-list {
    list-style: none;
    margin: 0;
    padding: 1.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .birds-list li {
    flex: 0 1 calc(25% - 1rem);
  }

  .birds-list a {
    text-decoration: none;
  }

  .birds-list h3 {
    color: #0d171c;
    margin-top: 0.8rem;
  }

  .birds-list p {
    color: #4f7a96;
    margin-top: -1rem;
  }

  .birds-list img {
    border-radius: 0.7rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: auto;
    max-height: 150px;
  }

  /* BirdCard Component Styles Mobile */

  .bird-card-header h1 span {
    color: #9ea2a4;
  }

  .add-note-button {
    background-color: #ffffff;
    color: #152351;
    font-weight: bold;
    border-radius: 0.7rem;
    border: #e6e6e7 1px solid;
    width: 5.5rem;
    height: 2rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 0 0.4rem;
    margin-right: 0.5rem;
  }

  .bird-card-image {
    padding: 1.5rem 1rem;
  }

  .bird-card-image img {
    object-fit: cover;
    object-position: center;
    border-radius: 0.7rem;
  }

  .bird-card-notes, .bird-card-languages-container {
    padding: 0.7rem 1rem;
  }
  
  .bird-card-notes h2, .bird-card-languages-container h2 {
    margin: 0;
    font-weight: bold;
  }

  .bird-card-languages-title {
    border-bottom: #d5dadf 1px solid;
    padding-bottom: 2rem;
  }

  .bird-card-languages h3 {
    color: #4f7a96;
    font-weight: normal;
    margin-bottom: 0;
  }

  .bird-card-languages p {
    margin-top: 0.5rem;
  }

  .bird-card-notes ul {
    list-style: none;
    margin: 0;
    padding: 1rem 0;
  }

  .bird-card-notes h3 {
    color: #0d171c;
    margin-bottom: 0;
  }
  
  .bird-card-notes p {
    color: #4f7a96;
    margin-top: 0;
  }

  /* Zoom Image Styles */

  .zoom-image {
    overflow: hidden;
  }

  .zoom-hover {
    transition: transform 0.5s ease;
  }
  
  .zoom-hover:hover {
    cursor: zoom-in;
    transform: scale(1.5);
  }

/* Breakpoints */

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .layout-container {
    width: 70%;
  }
}

/* Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .layout-container {
    width: 70%;
  }
}

/* Laptops */
@media screen and (min-width: 769px) {
   .layout-container {
    flex-direction: row;
    width: 80%;
    height: 80%;
  }

  .sidebar {
    width: 25%;
    height: 100%;
    text-align: left;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: #d5dadf 1px solid;
  }

  .sidebar h1,
  .sidebar p {
    margin: 0.1rem 0;
    font-size: 1rem;
  }
  
  .layout-right {
    width: 75%;
    height: 100%;
    text-align: left;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow-y: auto;
  }

  .layout-right h1 {
    margin: 0 0 1rem;
  }

  .main-header {
    margin: 0 -1rem;
    padding: 0 1rem;
    border-bottom: #d5dadf 1px solid;
    height: 45px;
  }

  /* BirdCard Component Styles */

  .bird-card-header {
    display: flex;
    justify-content: space-between;
    border-bottom: #d5dadf 1px solid;
    margin: 0 -1rem;
    padding: 0 1rem;
  }

  .bird-card-image img {
    width: 30%;
    height: auto;
    max-height: 200px;
  }

  .bird-card-languages {
    display: flex;
    justify-content: space-between;
  }

  .bird-card-languages > div {
    flex: 1;
  }

  .bird-card-notes > ul li div {
    display: flex;
  }
  
  .bird-card-notes > ul li div > div {
    flex-direction: column;
    justify-content: center;
  }

  .bird-card-notes > ul li div img {
    width: 7%;
    height: auto;
    max-height: 130px;
    margin: 0.5rem 1rem 0.5rem 0;
    border-radius: 0.8rem;
  }

}

/* Modal Styles */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(253, 254, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  font-family: 'Inter', sans-serif;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 0 -1rem;
  border-bottom: #e9eaea 1px solid;
}

.modal-header h2 {
  margin: 0;
  color: #152351;
}

.modal-header button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal-location-container, .modal-note-container {
  display: flex;
  flex-direction: column;
}

.modal-location-container label, .modal-note-container label {
  color: #6e6e6e;
  font-weight: bold;
  margin: 1rem 0;
}

.modal-location-container input {
  padding: 0.5rem;
  border: none;
  background-color: #f1f4f8;
  border-radius: 0.3rem;
  height: 2rem;
}

.modal-location-container input:focus, .modal-note-container textarea:focus {
  border: #1d60f0 1px solid;
  background-color: #ffffff;
  outline: #f1f4f8 4px solid; 
}

.modal-note-container textarea {
  height: 100px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  background-color: #f1f4f8;
  border-radius: 0.3rem;
  resize: none;
}

.modal-location-container input::placeholder, .modal-note-container textarea::placeholder {
  color: #8e95af;
  font-family: 'Inter', sans-serif;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  border-top: #e9eaea 1px solid;
  padding-top: 1rem;
}

.modal-actions-cancel {
    background-color: #ffffff;
    color: #152351;
    font-weight: bold;
    border-radius: 0.7rem;
    border: #e6e6e7 1px solid;
    width: 4.5rem;
    height: 2rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 0 0.4rem;
    margin-right: 0.5rem;
}

.modal-actions-add-note {
    background-color: #1d60f0;
    color: #ffffff;
    border-radius: 0.7rem;
    border: #e6e6e7 1px solid;
    width: 5.5rem;
    height: 2rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    padding: 0 0.4rem;
    margin-right: 0.5rem;
}

.modal-actions-add-note:disabled {
    background-color: #8eb0f8;
}